<%- include("partials/header") -%>
    <h1>To Do List Website</h1>
    <h2>Hi! Welcome to my To Do List Website that I coded all by myself! Cool right?</h2>
    <p><h3>Features:</h3></p>
    <P><h4>- Creating of your own user accounts</h4></P>
    <P><h4>- Encrypted passwords (Yes... I can't see the passwords you set 😊)</h4></P>
    <P><h4>- Your very own set of to do lists (Don't worry it's only between you and me 😉)</h4></P>
    <p><h3>Click <a href="SignUp">here</a> to Sign Up ! (Become a cool person 😋)</h3></p>
    <p><h3>Click <a href="Login">here</a> to login! (Such a cool person 😎)</h3></p>
    <p><h3>Up and coming Features:</h3></p>
    <P><h4>- Authenticating Emails that you sign up with (Yes... Sadly you can signup with any email for now 😔)</h4></P>
    <P><h4>- Being able to signup using facebook, google... etc</h4></P>
<%- include("partials/footer") -%>