<%- include("partials/header") -%>
    <div class="box">
        <%Lists.forEach(function(list){ %>
            <form action="/Lists/<%= list.name %>" method="get" class="left-align-form">
                <button class="rounded-button"><%= list.name %></button>
            </form>
        <% }) %>
        <form action="/addList" method="post" class="left-align-form">
            <input type="text" autocomplete="off" name="NewList" placeholder="New List" required
            oninvalid="this.setCustomValidity('List Name is required')" oninput="this.setCustomValidity('')">
            <button type="submit" name="btnNewList" class="round-button">+</button>
        </form>
    </div>
<%- include("partials/footer") -%>