<%- include("partials/header") -%>
    <div class="container text-center" id="heading">
        <h1><%= ListTitle %></h1>
    </div>
        <form method="post" action="/renameList" class="center-align-form">
            <div class="container text-center">
                <input class="rename-input" autocomplete="off" name="Name" placeholder="New List Name" required oninvalid="this.setCustomValidity('List Name Required')" oninput="this.setCustomValidity('')">
                <button type="submit" class="btn btn-primary" style="background-color: #A683E3;">Change Name</button>
            </div>
            
        </form>
    </div>   

<%- include("partials/footer") -%>