<%- include("partials/header") -%>
    <div class="position-absolute top-50 start-50 translate-middle">
        <p class="text-center fs-2">Sign Up</p>
        <form action="/SignUp" method="post">
            <div class="form-floating mb-3">
                <input type="email" name="Email" class="form-control" id="floatingEmail" placeholder="name@example.com" autocomplete="off" pattern=".+\.com" required
                oninvalid="this.setCustomValidity('Email required')" oninput="this.setCustomValidity('')">
                <label for="floatingEmail">Email address</label>
                <span name="EmailInUse"><%= EmailInUse %></span>
              </div>
              <div class="form-floating mb-3">
                <input type="text" name="Name" class="form-control" id="floatingName" placeholder="Name" autocomplete="off" required
                oninvalid="this.setCustomValidity('Name is required')" oninput="this.setCustomValidity('')">
                <label for="floatingName">Name</label>
              </div>
              <div class="form-floating">
                <input type="password" name="Password" class="form-control" id="floatingPassword" placeholder="Password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onkeyup="check()" required
                oninvalid="this.setCustomValidity('Password must be at least 8 characters long and contain a lower case, upper case and a number')" oninput="this.setCustomValidity('')">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating">
                <input type="password" name="ConfirmPassword" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" onkeyup="check()" required
                oninvalid="this.setCustomValidity('Password must be at least 8 characters long and contain a lower case, upper case and a number')" oninput="this.setCustomValidity('')">
                <label for="floatingConfirmPassword">Confirm Password</label>
              </div>
              <div class="text-center">
                <button id="SignUp" type="submit" class="btn btn-primary" style="background-color: #A683E3;">Sign Up</button>
              </div>
        </form>
        <span id="Message"></span>
        <p>Already have an account? Login <a href="Login">here</a>!</p>
    </div>
<%- include("partials/footer") -%>